/* Text input box animations */
/*mouse enter animation is faster than exit */
.inputContainer:focus .line {
  transition: transform 125ms;
  transform: translateY(10px);
  border-color: #f09381;
}

.inputContainer:focus label {
  color: #f09381;
}

/* mouse leave*/
.line {
  will-change: transform;
  transition: transform 450ms;
}
