/* Text input box animations */
/* enter animation is faster than exit */
#name:focus + .line {
  transition: transform 125ms;
  transform: translateY(10px);
  border-color: #f09381;
}

label:focus-within {
  color: #f09381;
}

/* focus leave*/
.line {
  will-change: transform;
  transition: transform 450ms;
}
