@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fbdec8;
  color: #1e1a1c;
  font-family: "Varela Round", sans-serif;
  overflow: hidden; /* do i need this? */
}

h2 {
  font-family: "BioRhyme", serif;
}

/* ~~~~~~~~~~~~
      friends
   ~~~~~~~~~~~~ */
.link {
  color: pink;
}

/*input text box for: */
.edit-name {
  border-style: none none dotted;
  border-color: black;
  background-color: inherit;
  color: gray;
  padding: 14px 10px 3px 10px;
}

/* error message */
.error {
  font-family: "BioRhyme", serif;
}

/* ~~~~~~~~~~~~
   transactions
   ~~~~~~~~~~~~ */

.transaction {
  background-color: #fbdec8;
  /*TODO: make the corners gradually become smaller
   to imitate the shape of a boba cup*/
}

/* parent container for displaying transactions */
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Displays 3 equally sized panels:
  to display the transactions */
.box {
  background-color: #1e1a1c;
  color: #fbdec8;
  /* layout */
  flex: 0 1 30%;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  padding: 0 30px 1rem;
}

input {
  border: 5px solid white;
  padding: 15px;
  background: pink;
  margin: 0 0 10px 0;
  font-family: "Varela Round", sans-serif;
  font-size: smaller;
}

.name {
  font-size: 40px;
  font-family: "Cute Font", cursive;
  font-weight: 600;
}
