@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fbdec8;
  color: #1e1a1c;
  font-family: "Varela Round", sans-serif;
}

h2 {
  font-family: "BioRhyme", serif;
}

.button {
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
}

/* ~~~~~~~~~~~~
      friends
   ~~~~~~~~~~~~ */

li {
  font-size: 18px;
}

/*edit button*/
.link {
  /*todo: */
  padding: 2px 8px 2px;
  color: white;
}

.link:hover {
  text-decoration: underline;
  background-color: #f0cbae;
  cursor: pointer;
}

/*input text box for: */
.edit-name {
  border-style: none none dotted;
  border-color: black;
  background-color: inherit;
  color: gray;
  padding: 14px 10px 3px 10px;
}

/* error message */
.error {
  font-family: "BioRhyme", serif;
}

/* ~~~~~~~~~~~~
   transactions
   ~~~~~~~~~~~~ */

/* parent container for displaying transactions */
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
}

/* Displays 3 equally sized panels:
  to display the transactions */
.box {
  background-color: #1e1a1c;
  color: #fbdec8;
  /* layout */
  flex: 0 1 auto;
  border-radius: 20px;
}

/* contents of transaction box*/
.box .titleContainer {
  display: flex;
  justify-content: space-between;
  /*     top right bot left*/
  padding: 0.25rem 0.75rem 0 1rem;
}
.box .name {
  font-size: 40px;
  font-family: "Cute Font", cursive;
  font-weight: 600;
  /* adds space between name + minimize icon */
  margin: 0px 2rem 0px 0px;
}
.box .plus {
  /* position */
  padding: 5px 0px;
}

.plus:hover {
  color: white;
  text-decoration: none;
}

/* define the container so that 
expense element can be aligned on the right
and the friend icons on the left */
.box .costContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
}
.box .expense {
  /* position: starting pt / width */
  font-size: 20px;
  color: white;
}

.box .buttonsContainer {
  margin: 0 1rem;
  /*space between elements*/
  display: flex;
  column-gap: 0.5rem;
}

.box .edit {
  font-weight: 700;
}

/*additional styling for bottom cost */
.box .bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 1rem;
  /*     top right bot left*/
  padding: 0 1rem 0.25rem 1rem;
  font-weight: 800;
}

.bottom .expense {
  font-size: inherit;
}
/* edit form */
.form {
  margin: 0 1rem;
}

/* ========================

   i n p u t   f i e l d s

   ========================
*/

/* text box 
    ~ see animations for this in other css file! ~ */
[type="text"],
[type="number"] {
  border: none;
  font-size: inherit;
  color: black;
  /* styling */
  /*       top  r   bot left */
  padding: 10px 5px 5px 5px;
  width: 130px;
  background: transparent;
}

/* WARN: I only removed focus because I have a separate animation for focusing on these text inputs
    in general, it's bad practice to remove a focus border*/
[type="text"]:focus,
[type="number"]:focus {
  outline: none;
}

.lineContainer {
  display: flex;
  flex-wrap: wrap;
}

/* displays inputs for busn name and expense side-by-side*/
.lineContainer .col-item {
  flex-basis: content;
  margin: 0 1rem 0 0;
}

/* bottom margin line for text box */
.line {
  display: flex;
  width: 130px;
  height: 2px;
  border-bottom: 5px solid gray;
  /*      n e s w*/
  margin: 0px 0px 0.5rem 0px;
  position: absolute;
}

/*checkbox styles ripped from Tailwind*/

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type="checkbox"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"] {
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #f09381;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
}

[type="checkbox"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: #f09381;
}

/* submit button 
    for empty form
    followed Josh W Comeau's tutorial for 3-D button!*/
.newTransaction .submit {
  background: hsl(10deg 78% 65%); /* hsl(10, 60%, 64%) ??*/
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.newTransaction .front {
  display: block;
  padding: 5px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(10deg 78.7% 72.4%);
  color: black;
  transform: translateY(-6px);
}

.submit:active .front {
  transform: translateY(-2px);
}
